<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="header-index">
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас</p>
        <input type="text" placeholder="Поиск видео..." class="search-input">
    </header>
    <main>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZiiaUuSckz0?si=fUmwa_Vi5pKNhSgL"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
         encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            <h3 class="video-title">Москва</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/G7g8kNazmkI?si=iaiiMapMEZyBybfp"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
     encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
        </div>

        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/N6MhZGQLvRo?si=LiG0Hf4zo6HpGEfU"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
     encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург</h3>
        </div>

    </main>
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"> <p>Все трансляции</p> </a>
            <a href="/"> <p>О проекте</p> </a>
        </div>

    </aside>
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
</body>
</html>


